<mat-toolbar color="warn">
 
<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu" [style.background]="title">
  
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>
  Led's Fashion Clever
  </mat-toolbar>
<nav mat-tab-nav-bar>
    <button mat-button (click)="play()">
        <mat-icon>play_arrow</mat-icon>
        <span>Play</span>
      </button>
  <button mat-button (click)="stop()" >
    <mat-icon>stop</mat-icon>
    <span>Stop</span>
  </button>
  <button mat-button (click)="switch()" >
      <mat-icon>switch_camera</mat-icon>
      <span>Switch</span>
    </button>
</nav>


     <mat-grid-list cols="1" rowHeight="{{height}}">
      <mat-grid-tile  [style.background]="title" [style.height.vh]="'85'">
        <canvas class="raster1s" id="fullSize" #fullsize [style.height.%]="'100'"></canvas>
        <div class="controls">
            <table style="width:100%">
              <tr style="background-color: rgb(255,0,0)">
                <th>R:</th>
                <td style="min-width:24px;">{{red}}</td>
              </tr>
              <tr style="background-color: rgb(0,255,0)">
                <th>G:</th>
                <td style="min-width:24px;">{{green}}</td>
              </tr>
              <tr style="background-color: rgb(0,0,255)">
                <th>B:</th>
                <td style="min-width:24px;">{{blue}}</td>
              </tr>
            </table>
          </div>
      </mat-grid-tile>

    </mat-grid-list>
            
    
    
    
   
    
        
