<router-outlet></router-outlet>
<span class="done-b">
    <mat-toolbar color="warn" layout-align="space-between center" role="header" >
       <button mat-icon-button routerLink="first" routerLinkActive="active">
          <mat-icon>camera</mat-icon>
       </button>
       <span class="example-fill-remaining-space"></span>
       <button mat-icon-button routerLink="second" routerLinkActive="active">
          <mat-icon>color_lens</mat-icon>
       </button>
       <span class="example-fill-remaining-space"></span>
       <button mat-icon-button routerLink="forth" routerLinkActive="active">
          <mat-icon>insert_photo</mat-icon>
       </button>
       <span class="example-fill-remaining-space"></span>
       <button mat-icon-button routerLink="third" routerLinkActive="active">
          <mat-icon>bluetooth</mat-icon>   
       </button>
       
    </mat-toolbar>
 </span>