<mat-grid-list cols="1" rowHeight="{{height}}">
  <mat-grid-tile  [style.background]="title" [style.height.%]="'100'">
  <span class="done-t">
     <div class="controls">
        <table style="width:100%">
           <tr style="background-color: rgb(255,0,0)">
              <th>R:</th>
              <td style="width:26px;">{{red}}</td>
           </tr>
           <tr style="background-color: rgb(0,255,0)">
              <th>G:</th>
              <td style="width:26px;">{{green}}</td>
           </tr>
           <tr style="background-color: rgb(0,0,255)">
              <th>B:</th>
              <td style="width:26px;">{{blue}}</td>
           </tr>
        </table>
     </div>
  </span>
  <span class="done-t-r">
      <button mat-icon-button (click)="torch()">
          <mat-icon>flash_on</mat-icon>   
       </button>
  </span>
  <canvas class="raster1s" id="fullSize" #fullsize [style.height.%]="'100'"></canvas>
  <span [ngStyle]="setStyles()"></span>
  <span [ngStyle]="setPreview()"></span>
  <span class="done">
     <button mat-fab color="warn"  (click)="play()" aria-label="play video">
     <mat-icon *ngIf="onPlay" >play_arrow</mat-icon>
     <mat-icon *ngIf="onStop">stop</mat-icon>
     </button>
  </span>

  </mat-grid-tile>

    

</mat-grid-list>