@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
.done {
  position: absolute;
  bottom: 115px;
  margin-left: auto;
  color: white;
}
.done-r {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}
.done-b {
  position: fixed;
  bottom: 0px;
  color: white;
  width:100%;
}
.done-b-50 {
  position: fixed;
  bottom: 50px;
  color: white;
  width:100%;
}
.done-t {
  position: fixed;
  top: 0px;
  left: 0px;
  color: white;
}
.done-t-r {
  position: fixed;
  top: 0px;
  right: 20px;
  color: white;
}
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}