@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
.done {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: white;
}
.done-r {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}